*{
padding: 0px;
margin: 0px;
}
header img{
width: 30%
}
#divsup {
	margin: auto;
	width: 100%

}
.desplegable{
	background-color: #005883;
	height: 24.5px;
}
.desplegable li a{
	text-decoration: none;
	background-color: #005883;
	color: white;
	margin-left: 9px;
	padding:3px 3px;
	display: block;
	
}
.desplegable > li{
	float: left;
}
.desplegable li a:hover{
	border-left-style: solid;
	border-left-color: #f47920;
	background-color: #f0b429;

}
ul, ol{
list-style: none;
}
.desplegable li ul{
	display: none;
	position: absolute;
}
.desplegable li:hover > ul{
	display:block;
}
.desplegable li ul li{
	position: relative;
}
#general{
	width: 60%;
	height: 500px;
	float: left;
	background-image: url(IMG/ECBTI.png);
	position: relative;
	background-size: cover;

}
#general article{
	display: block;
	float: left;
}
#twitter{
	width: 40%;
	height: 500px;
	background-color: cyan;
	float: right;
	position: relative;
	
}
#oviob{
	background-color: #43c7f4;
	border-radius: 5%;
	text-align: center;
	width: 200px;
	height: 346px;
	margin-left: 40px;
	padding-top: 10px;
	margin-top: 20px;
	
}
#cursob {
	background-color: #50b748;
	border-radius: 5%;
	text-align: center;
	width: 200px;
	margin-left: 40px;
	height: 346px;
	padding-top: 10px;
	margin-top: 20px;
	

}
#tematic {
	background-color: #a54686;
	border-radius: 5%;
	text-align: center;
	width: 200px;
	margin-left: 40px;
	height: 346px;
	padding-top: 10px;
	margin-top: 20px;
}
#ulto{
	width: 100%;
	background-color:#005883; 
	margin-top: 500px;
	position: relative;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	color: white;


}