*{
padding: 0px;
margin: 0px;
}
header img{
width: 30%
}
#divsup {
	margin: auto;
	width: 100%;
	z-index:10;
}
.desplegable{
	background-color: #005883;
	height: 24.5px;
	z-index:10;
}
.desplegable li a{
	text-decoration: none;
	background-color: #005883;
	color: white;
	margin-left: 9px;
	padding:3px 3px;
	display: block;
	z-index:10;
	
}
.desplegable > li{
	float: left;
	z-index:10;

}
.desplegable li a:hover{
	border-left-style: solid;
	border-left-color: #f47920;
	background-color: #f0b429;
	z-index:10;

}
ul, ol{
list-style: none;
	z-index:10;

}
.desplegable li ul{
	display: none;
	position: absolute;
	z-index:10;
	box-shadow: 15px 7px 20px black;

}
.desplegable li:hover > ul{
	display:block;
	z-index:10;

	
}
.desplegable li ul li{
	position: relative;
	z-index:10;
	
}
#general{
	width: 60%;
	height: auto;
	float: left;
	position: relative;
	color: white;
}
#generalautores{
	width: 60%;
	height: auto;
	float: left;
	position: relative;
	text-align: center;
	color: #005883;
	background: rgba(0,88,131,0.43);
background: -moz-linear-gradient(top, rgba(0,88,131,0.43) 0%, rgba(255,255,255,0.35) 53%, rgba(0,88,131,0.27) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,88,131,0.43)), color-stop(53%, rgba(255,255,255,0.35)), color-stop(100%, rgba(0,88,131,0.27)));
background: -webkit-linear-gradient(top, rgba(0,88,131,0.43) 0%, rgba(255,255,255,0.35) 53%, rgba(0,88,131,0.27) 100%);
background: -o-linear-gradient(top, rgba(0,88,131,0.43) 0%, rgba(255,255,255,0.35) 53%, rgba(0,88,131,0.27) 100%);
background: -ms-linear-gradient(top, rgba(0,88,131,0.43) 0%, rgba(255,255,255,0.35) 53%, rgba(0,88,131,0.27) 100%);
background: linear-gradient(to bottom, rgba(0,88,131,0.43) 0%, rgba(255,255,255,0.35) 53%, rgba(0,88,131,0.27) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005883', endColorstr='#005883', GradientType=0 );

}
#generalautores article {
	width: 100%;
	margin-top: 15px;
	padding-top: 15px;
	display: inline-flex;
	flex-wrap: wrap;
	padding: 15px 15px;

	}
#lector b{
width: 280px;
}
#lector a{
	text-decoration:none;
	border-style: none;
	padding-bottom: 10px;
	color: white;
}

#generalautores b{
	margin:20px 30px;
	border-style: solid;
	border-width: 1px;
	border-radius: 5%;
	padding-top: 5px;
	padding: 5px 5px;
	color: white;
	box-shadow: 15px 15px 30px black;

	
}

#generalautores img{
	border-radius: 100%;
	border-style: solid;
	border-width: 1px;
	width: 189px;
	height: 189px;
}


#general h4{
	color: #005883;
	text-shadow: 15px 7px 20px black;
}

#general embed{
	margin-left: 40px;
	z-index:9;

}
#general article{
	display: block;
	float: left;
	z-index: -10;
	display: inline-flex;
	flex-wrap: wrap;
}

#twitter{
	width: 40%;
	height: 500px;
	float: right;
	position: relative;

}
#oviob{
	background-color: #F47920;
	border-radius: 5%;
	text-align: center;
	width: 200px;
	height: 346px;
	margin-left: 40px;
	padding-top: 10px;
	margin-top: 20px;
	z-index:-10;
	box-shadow: 15px 15px 30px black;
}
#cursob {
	background-color: #50b748;
	border-radius: 5%;
	text-align: center;
	width: 200px;
	margin-left: 40px;
	height: 346px;
	padding-top: 10px;
	margin-top: 20px;
	z-index:-10;
	box-shadow: 15px 15px 30px black;
}
#tematic {
	background-color: #a54686;
	border-radius: 5%;
	text-align: center;
	width: 200px;
	margin-left: 40px;
	height: 346px;
	padding-top: 10px;
	margin-top: 20px;
	z-index:-10;
	box-shadow: 15px 15px 30px black;
}
#ulto{
	width: 100%;
	background-color:#005883; 
	margin-top: 0px;
	position: relative;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	color: white;
	z-index:-10;
	overflow: hidden;	
}
.desplegable{
z-index:10;
}
@media (max-width: 20cm){
	#lector b{
	width: auto;
	}
	#divsup {
	margin: auto;
	width: 100%;
	z-index:10;
	}
	.desplegable{
	background-color: #005883;
	height: 120px;
	z-index:10;
	}

	.desplegable li a{
	display:inline-block;
	z-index:10;
	}

	.desplegable > li{
	float: none;
	width: 100%;
	z-index:10;}

	.desplegable li ul{
	display: none;
	position: absolute;
	z-index:10;}

	.desplegable li:hover > ul{
	display:none;
	z-index:10;}
	.desplegable li a:hover{
	border-left-style: solid;
	border-left-color: #f47920;
	background-color: #005883;
	border-left-width: 10px;
	z-index:10;}

	header img{
	content: url(logoUNADMobile.png);
	width:100%;
	 max-width:300px;
	}
	header{
		background-color: #005883;
		text-align: center;
		border-bottom-style: solid;
		border-color: white;
		background: rgba(0,88,131,1);
background: -moz-linear-gradient(top, rgba(0,88,131,1) 0%, rgba(183,222,237,1) 50%, rgba(0,88,131,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,88,131,1)), color-stop(50%, rgba(183,222,237,1)), color-stop(100%, rgba(0,88,131,1)));
background: -webkit-linear-gradient(top, rgba(0,88,131,1) 0%, rgba(183,222,237,1) 50%, rgba(0,88,131,1) 100%);
background: -o-linear-gradient(top, rgba(0,88,131,1) 0%, rgba(183,222,237,1) 50%, rgba(0,88,131,1) 100%);
background: -ms-linear-gradient(top, rgba(0,88,131,1) 0%, rgba(183,222,237,1) 50%, rgba(0,88,131,1) 100%);
background: linear-gradient(to bottom, rgba(0,88,131,1) 0%, rgba(183,222,237,1) 50%, rgba(0,88,131,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005883', endColorstr='#005883', GradientType=0 );

	}
	#general{
	width: 100%;
	height: auto;
	float: none;
	background-color: #999;
	position: relative;
	color: white;}

	#general embed{
	margin-left: auto;
	width: 100%;
	}
	#pagicu{
		width: 100%;
		text-align: center;

	}

	#general article{
	display:inline-flex;
	float: none;
	z-index: 10;
	
	}
	#twitter{
	width: 100%;
	height: auto;
	float: none;
	position: relative;
	margin-top: 10px;
	text-align: center;
		
	}
	#oviob{
	background-color: #43c7f4;
	border-radius: 0%;
	text-align: center;
	width: 100%;
	height: auto;
	margin-left: auto;
	padding-top: 10px;
	margin-top: 20px;
	z-index:-10;
	}
	#cursob {
	background-color: #50b748;
	border-radius: 0%;
	text-align: center;
	width: 100%;
	height: auto;
	margin-left: auto;
	padding-top: 10px;
	margin-top: 0px;
	z-index:-10;
	}
	#tematic {
	background-color: #a54686;
	border-radius: 0%;
	text-align: center;
	width: 100%;
	height: auto;
	margin-left: auto;
	padding-top: 10px;
	margin-top: 0px;
	z-index:-10;}
	#generalautores{
	width: 100%;
	height: auto;
	position: relative;
	text-align: center;

}
#generalautores article {
	padding: auto;
	}
#generalautores b{
	margin:auto;
	padding: 5px;
}

#generalautores img{
	width: 95px;
	height: 95px;

}
}
